/* Nav Links Animation */
.n-active {
  transition: all 0.3s;
  position: relative;
}
.n-active:before {
  transition: all 0.3s;
}
.n-active:after {
  transition: all 0.3s;
  position: absolute;
  bottom: -0.625rem;
  left: 0;
  right: 0;
  margin: auto;
  width: 0%;
  content: ".";
  color: transparent;
  background: #fd5531;
  height: 0.125rem;
}
.n-active:hover:after {
  width: 100%;
}

/* Active */
.active {
  position: relative;
}

.active:after {
  position: absolute;
  bottom: -0.625rem;
  left: 0;
  right: 0;
  margin: auto;
  width: 100%;
  content: ".";
  color: transparent;
  background: #fd5531;
  height: 0.125rem;
}

/* Hamburger Menu */
.hamburger-menu:after,
.hamburger-menu:before {
  width: 2.125rem;
  height: 0.125rem;
}

.hamburger-menu {
  width: calc(2.125rem / 2);
  height: 0.125rem;
}

/* Hamburger Menu Animation */
.hamburger-menu {
  position: relative;
  background: #0f1221;
  transition: all 0ms 300ms;
}

.hamburger-menu.animate {
  background: rgba(15, 18, 33, 0);
}

.hamburger-menu::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0.875rem;
  background: #0f1221;
  transition:
    bottom 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1),
    transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
}

.hamburger-menu::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0.875rem;
  background: #0f1221;
  transition:
    top 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1),
    transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
}

.hamburger-menu.animate::before {
  width: 2.25rem;
  bottom: 0;
  transform: rotate(-45deg);
  transition:
    bottom 300ms cubic-bezier(0.23, 1, 0.32, 1),
    transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);
}

.hamburger-menu.animate::after {
  width: 2.25rem;
  top: 0;
  transform: rotate(45deg);
  transition:
    top 300ms cubic-bezier(0.23, 1, 0.32, 1),
    transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);
}

/* Nav Menu (Screens Lower Than 769px) Animation */
.fade-enter-active,
.fade-leave-active {
  transition: opacity 300ms !important;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0 !important;
}

.stop {
  height: 100vh;
  overflow-y: hidden;
}

.change {
  z-index: 0;
}

/* Media Queries (411px) */
@media screen and (min-width: 411px) {
  .hamburger-menu {
    width: calc(2.25rem / 2);
  }

  .hamburger-menu::before {
    bottom: 1rem;
    width: 2.25rem;
  }

  .hamburger-menu::after {
    top: 1rem;
    width: 2.25rem;
  }

  .hamburger-menu.animate::before {
    width: 2.5rem;
  }

  .hamburger-menu.animate::after {
    width: 2.5rem;
  }
}

/* Media Queries (768px) */
@media screen and (min-width: 768px) {
  .n-active:after,
  .active:after {
    height: 0.156rem;
  }

  .hamburger-menu {
    width: calc(2.5rem / 2);
    height: 0.156rem;
  }

  .hamburger-menu::before {
    bottom: 1.125rem;
    width: 2.5rem;
    height: 0.156rem;
  }

  .hamburger-menu::after {
    top: 1.125rem;
    width: 2.5rem;
    height: 0.156rem;
  }

  .hamburger-menu.animate::before {
    width: 2.75rem;
  }

  .hamburger-menu.animate::after {
    width: 2.75rem;
  }
}
