@tailwind base;

@tailwind components;

@tailwind utilities;

/* Fonts */
@font-face {
  font-family: "Grifter";
  src: url("fonts/Grifter-Bold.eot");
  src:
    local("Grifter Bold"),
    local("Grifter-Bold"),
    url("fonts/Grifter-Bold.eot?#iefix") format("embedded-opentype"),
    url("fonts/Grifter-Bold.woff2") format("woff2"),
    url("fonts/Grifter-Bold.woff") format("woff"),
    url("fonts/Grifter-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Plus Jakarta Sans";
  src: url("fonts/PlusJakartaSans-Bold.eot");
  src:
    local("Plus Jakarta Sans Bold"),
    local("PlusJakartaSans-Bold"),
    url("fonts/PlusJakartaSans-Bold.eot?#iefix") format("embedded-opentype"),
    url("fonts/PlusJakartaSans-Bold.woff2") format("woff2"),
    url("fonts/PlusJakartaSans-Bold.woff") format("woff"),
    url("fonts/PlusJakartaSans-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Plus Jakarta Sans";
  src: url("fonts/PlusJakartaSans-Light.eot");
  src:
    local("Plus Jakarta Sans Light"),
    local("PlusJakartaSans-Light"),
    url("fonts/PlusJakartaSans-Light.eot?#iefix") format("embedded-opentype"),
    url("fonts/PlusJakartaSans-Light.woff2") format("woff2"),
    url("fonts/PlusJakartaSans-Light.woff") format("woff"),
    url("fonts/PlusJakartaSans-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Plus Jakarta Sans";
  src: url("fonts/PlusJakartaSans-ExtraBold.eot");
  src:
    local("Plus Jakarta Sans ExtraBold"),
    local("PlusJakartaSans-ExtraBold"),
    url("fonts/PlusJakartaSans-ExtraBold.eot?#iefix")
      format("embedded-opentype"),
    url("fonts/PlusJakartaSans-ExtraBold.woff2") format("woff2"),
    url("fonts/PlusJakartaSans-ExtraBold.woff") format("woff"),
    url("fonts/PlusJakartaSans-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "Plus Jakarta Sans";
  src: url("fonts/PlusJakartaSans-ExtraLight.eot");
  src:
    local("Plus Jakarta Sans ExtraLight"),
    local("PlusJakartaSans-ExtraLight"),
    url("fonts/PlusJakartaSans-ExtraLight.eot?#iefix")
      format("embedded-opentype"),
    url("fonts/PlusJakartaSans-ExtraLight.woff2") format("woff2"),
    url("fonts/PlusJakartaSans-ExtraLight.woff") format("woff"),
    url("fonts/PlusJakartaSans-ExtraLight.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "Plus Jakarta Sans";
  src: url("fonts/PlusJakartaSans-Regular.eot");
  src:
    local("Plus Jakarta Sans Regular"),
    local("PlusJakartaSans-Regular"),
    url("fonts/PlusJakartaSans-Regular.eot?#iefix") format("embedded-opentype"),
    url("fonts/PlusJakartaSans-Regular.woff2") format("woff2"),
    url("fonts/PlusJakartaSans-Regular.woff") format("woff"),
    url("fonts/PlusJakartaSans-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Plus Jakarta Sans";
  src: url("fonts/PlusJakartaSans-Medium.eot");
  src:
    local("Plus Jakarta Sans Medium"),
    local("PlusJakartaSans-Medium"),
    url("fonts/PlusJakartaSans-Medium.eot?#iefix") format("embedded-opentype"),
    url("fonts/PlusJakartaSans-Medium.woff2") format("woff2"),
    url("fonts/PlusJakartaSans-Medium.woff") format("woff"),
    url("fonts/PlusJakartaSans-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
